<div class="container">
  <div class="row Logos mt-5">
    <div class="col" >
      <img src="assets/Drapeau.png" class="logo">
    </div>
    <div class="col" >
      <img src="assets/LogoMinistere.jpg" class="logo">
    </div>
    <div class="col" >
      <img src="assets/LogoRepublique.png" class="logo">
    </div>
  </div>
  <div class="row mt-5" >
    <button type="button" class="btn btn-outline-success mt-5">Rendez vous</button>
    <button type="button" class="btn btn-outline-info mt-5">Liste des centres</button>

  </div>
</div>
