<div class="container">

  <div class="row mt-5" >

  </div>
  <div class="card">
    <h5 class="card-header">Home Page</h5>
    <div class="card-body">
      <h5 class="card-title">Welcome to Evax</h5>
      <p class="card-text">Choose one of the two options</p>
      <div class="row ">
        <button type="button" class="btn btn-primary mt-2 p-3" routerLink="Search"><strong>Appointment</strong></button>
        <button type="button" class="btn btn-primary mt-3 p-3" routerLink="Centers" ><strong>List Of Centers</strong></button></div>
    </div>
  </div>
</div>

