<div class="container">

  <div class="row mt-5" >

  </div>
  <div class="card">
    <h5 class="card-header">Appointment for CIN :  {{appointment?.user_cin}}</h5>
    <div class="card-body">

      <div class="container">
        <div class="mt-4 text-center "><strong>Date: {{appointment?.date}}</strong> </div>
        <div class="mt-4 text-center "><strong>Center Name: {{appointment?.centre_name}}</strong></div>
        <div class="mt-4 text-center "><strong>Address: {{center?.address}}</strong></div>
        <div class="mt-4 text-center mb-4"><a  class="btn btn-success" target="_blank" href="https://maps.google.com/?q={{center?.Coordinates?.latitude}},{{center?.Coordinates?.longitude}}">Go To Localisation</a></div>
      </div>
    </div>
  </div>
</div>








