.logo {
  height: 100px;
  padding-right: 30px;
  padding-left: 30px;
}
.Logos {
  padding-right: 70px;
  padding-left: 70px;
}
.col {
  padding-left: 110px;
}
.footer {
  justify-content: center;
  text-align: center;
}
.container {
  background-color:transparent !important;
}
